<style type="text/css">
h3, h6
{
	display:inline;
}
</style>
<div class="row">
	<div class="span12">
		<h3>Multiplayer Game Test | </h3><h6>Zelda Style</h6>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>Do you need to make an account? <a href="/register">Go here.</a></p>
	</div>
</div>
</div>
<center>
	<canvas width="1280" height="720" id="game" style="display:none"></canvas>
</center>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/game.js"></script>